body{
    font-family: var(--main-font);
    font-size: 14px;
    line-height: 1.71;
    color:var(--primary-txt-color);
    letter-spacing: 0.03em;    
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.link{
    text-decoration: none;
    color: currentColor;
}

.section{
    padding-bottom: 94px;
    padding-top: 94px;
}

.list{
    list-style: none;
    padding: 0;
    margin: 0;
}
